[Unit]
Description=iotronic-conductor
After=network.target

[Service]
ExecStart=/usr/local/bin/iotronic-conductor

[Install]
WantedBy=multi-user.target
